.mx-auto.w-full.flex{:class => "md:w-2/3"}
  .mx-auto
    - if notice.present?
      %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
    = render @note
    = link_to "Edit this note", [:edit, @note.notable, @note], class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    .inline-block.ml-2
      = render Common::Element::DestroyLinkComponent.new(model: @note, text: "Destroy")
    = link_to "Back to notes", [@note.notable, :notes], class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
