= simple_form_for [note.notable, note], data: { turbo_frame: dom_id(note) } do |form|
  .card

    = render Common::Form::ErrorsComponent.new(form: form)

    = form.input :body, as: :rich_text_area

    = form.simple_fields_for :notable, form.object.notable do |notable_form|
      = render "#{notable_form.object.class.name.underscore.pluralize}/embedded_notable_fields", form: notable_form

    .flex
      .grow.text-right.pr-1
        = link_to [:blank_turbo_frame, { id: dom_id(note) }] do
          = render(Primer::Beta::Button.new(scheme: :secondary, type: :button)) { "Cancel" }
      .submit
        = render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Save"}
