%turbo-frame{:id => "#{dom_id note}"}
  = simple_form_for [note.notable, note] do |form|
    - if note.errors.any?
      #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
        %h2
          = pluralize(note.errors.count, "error")
          prohibited this note from being saved:
        %ul
          - note.errors.each do |error|
            %li= error.full_message
    = form.input :body, as: :rich_text_area


    = render Common::Form::SubmitComponent.new(form: form)

  .position-absolute.-mt-12.ml-1.text-xs
    = render Common::Element::DestroyLinkComponent.new(model: @note, text: "Destroy")