= simple_form_for [note.notable, note], data: { turbo_frame: dom_id(note) } do |form|
  .card

    - if note.errors.any?
      #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
        %h2
          = pluralize(note.errors.count, "error")
          prohibited this note from being saved:
        %ul
          - note.errors.each do |error|
            %li= error.full_message
    = form.input :body, as: :rich_text_area

    = form.simple_fields_for :notable, form.object.notable do |notable_form|
      = render "#{notable_form.object.class.name.underscore.pluralize}/embedded_notable_fields", form: notable_form

    .flex
      .grow.text-right.pr-1
        = link_to [:blank_turbo_frame, { id: dom_id(note) }] do
          = render(Primer::Beta::Button.new(scheme: :secondary, type: :button)) { "Cancel" }
      .submit
        = render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Save"}
