.flex.card.bg-slate-200.p-1.mb-4

  %div.dispay-inline.ml-2.grow
    = simple_form_for :opportunity, url: [:opportunities], method: :get, data: { controller: :search, turbo_frame: :opportunities, turbo_action: :advance } do |form|
      .inline-flex
        = form.input :search, label: false, placeholder: "Filter...", required: false, input_html: { class: "text-s", name: :search, data: { search_target: :searchInput, action: "input->search#search"} }
      = render(Primer::Beta::Button.new(scheme: :primary, type: :reset, **{data: { action: "click->search#search" } })) { "Reset" }

  %div.w-64.dispay-inline
    = render "opportunities/quick_add", opportunity: Opportunity.new(move_id: Current.user.default_move.id, quick_add: true)

%turbo-frame#opportunities{ data: { target: :_top } }
  - if opportunities.none?
    - if params[:search].present?
      .card
        No results found for 
        %strong= params[:search]
  - else
    #opportunities.container.m-auto.grid.grid-cols-1.gap-4.lg:grid-cols-4.md:grid-cols-2
      - opportunities.each do |opportunity|
        %turbo-frame{ id: dom_id(opportunity), loading: :lazy, src: url_for([opportunity])}
