%turbo-frame{:id => "#{dom_id task}"}
  %div.mb-4{:id => "#{dom_id task}"}
    %span.font-bold
      = link_to [task.taskable, task], data: { turbo_frame: :_top } do
        = task.name
    %span{ class: task.state.tailwind_class}
      = task.state.text

    = link_to [:edit, task.taskable, task] do
      = heroicon "cog-6-tooth", size: 16, class: "pb-0.5 inline"
    
    = render Common::Element::DestroyLinkComponent.new(model: @task)

    %br
    .text-xs.font-thin
      = link_to [task.taskable], data: { turbo_frame: :_top } do
        = task.taskable
      = " | "
      %span{ class: task.past_due? ? "text-red-600" : task.due_today? ? "font-semibold dark:text-yellow-200 text-yellow-600" : "" }
        Due #{task.due_date.to_fs}

    - if task.body.present?
      = render Common::Element::ExpandableContentComponent.new(content: task.body.to_s)

  %hr.my-4.bg-slate-300.dark:bg-slate-700.h-px.border-0