= simple_form_for move do |form|
  = render Common::Form::ErrorsComponent.new(form: form)

  %p 
    Everything you are setting up is based on a "Move" you are making in your life. Start the setup by 
    creating a move. Optionally, you can choose a goal date for this move.

  = form.input :name
  = form.input :description, as: :rich_text_area
  = form.input :goal_on, as: :datepicker, label: "Goal Date"  
  
  .text-right.mt-4
    = render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Save" }
