%div{:id => "#{dom_id document}"}
  = document.name
  = document.description.to_s
  = document.file

  - if action_name != "show"
    = link_to "Show this document", document, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to "Edit this document", edit_document_path(document), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    %hr.mt-6/
