= simple_form_for document do |form|
  = render Common::Form::ErrorsComponent.new(form: form)

  = form.input :name
  = form.input :description, as: :rich_text_area
  = form.input :file, input_html: { accept: 'application/pdf' }
  
  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
