= simple_form_for company do |form|
  = render Common::Form::ErrorsComponent.new(form: form)
  = form.input :name
  = form.input :uri
  %div
    = render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Save"}
