.grid.gap-6.md:grid-cols-1.lg:grid-cols-2
  .card
    = render(Primer::Beta::Heading.new(tag: :h1)) { "Log In" }
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }
        = f.input :password, required: false, input_html: { autocomplete: "current-password" }
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Log In"}
    %hr.m-4
    = render "devise/shared/links"

  .card
    = render(Primer::Beta::Heading.new(tag: :h1)) { "My Next Move" }
    %p
      I created this while looking for a new role. I quickly found myself trying to manage
      all of the jobs I had looked at, the many job posting services. I almost forgot that I had
      applied for a job when I saw it posted somewhere else, so I created My Next Move.
    %br
    %p
      My Next Move allows you to track the progress of your "Move", by adding opportunities, 
      tracking and rating those opportunities as well as making notes + tasks about them. I think
      of this as a CRM for the job hunt.

