= render Common::Layout::TitleComponent.new(title: "Opportunities", priority: 2, path: [:opportunities])
= render Opportunity::ListComponent.new(opportunities: @opportunities)

= render Common::Layout::TitleComponent.new(title: "Tasks", priority: 2)

= render Task::ListComponent.new(tasks: @tasks)

= render Common::Layout::TitleComponent.new(title: "Recent Notes", priority: 2)
= render Note::ListComponent.new(notes: Current.user.notes.reverse_chronological.limit(8))