= render Common::Layout::TitleComponent.new(title: "Opportunities", priority: 3, path: [:opportunities])
= render Opportunity::ListComponent.new(opportunities: @opportunities)

.card
  = render Common::Layout::TitleComponent.new(title: "Tasks", priority: 3)
  = render Task::ListComponent.new(tasks: @tasks)

.card
  = render Common::Layout::TitleComponent.new(title: "Recent Notes", priority: 3)
  = render Note::ListComponent.new(notes: Current.user.notes.reverse_chronological.limit(8))