= link_to [:opportunities] do
  = render(Primer::Beta::Heading.new(tag: :h3)) { "Opportunities" }
= render Opportunity::ListComponent.new(opportunities: @opportunities)

.card
  = render(Primer::Beta::Heading.new(tag: :h3)) { "Tasks" }
  = render Task::ListComponent.new(tasks: @tasks)

.card
  = render(Primer::Beta::Heading.new(tag: :h3)) { "Recent Notes" }
  = render Note::ListComponent.new(notes: Current.user.notes.reverse_chronological.limit(8))