.ml-3.relative{ data: { controller: "navigation" } }
  %div
    %button{"aria-expanded" => "false", "aria-haspopup" => "true", type: "button", data: { action: "navigation#toggleDropdown" } }
      = heroicon "bars-3", size:25, class: "inline"

  .hidden.shadow.fixed.h-full.z-50.left-0.top-0.w-64.bg-slate-500.dark:bg-slate-900{ "aria-labelledby" => "user-menu-button", "aria-orientation" => "vertical", role: "menu", tabindex: "-1", data: { navigation_target: "dropdown" } }
    .flex
      .grow
      .close
        %button.mt-1.mr-1{"aria-expanded" => "false", "aria-haspopup" => "true", type: "button", data: { action: "navigation#toggleDropdown" } }
          = heroicon "x-mark"
    - navigation_items.each do |navigation_item|
      = link_to navigation_item.last do
        .no-underline.block.pl-4.py-2.text-gray-900.hover:bg-gray-100.dark:text-gray-200.dark:hover:bg-gray-800.dark:hover:text-gray-200.whitespace-no-wrap
          = navigation_item.first
    .no-underline.block.pl-4.py-2.text-gray-900.hover:bg-gray-100.dark:text-gray-200.dark:hover:bg-gray-800.dark:hover:text-gray-200.whitespace-no-wrap.border-t= button_to "Sign Out", destroy_user_session_path, method: :delete, class: :grow, data: { turbo: false }
    .mt-4
      = render "opportunities/quick_add"