= simple_form_for @opportunity, data: { controller: :editor } do |form|
  - if opportunity.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(opportunity.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - opportunity.errors.each do |error|
          %li= error.full_message
  = form.simple_fields_for :company do |company_form|

    %h4.font-bold.text-m.mb-2 Company Info
    = company_form.input :name, label: "Company Name"
    = company_form.input :uri, label: "Company Website"

    %h4.font-bold.text-m.mb-2 Opportunity Info
    = form.input :name
    = form.input :uri, label: "Opportunity Website"
    = form.input :posted_on, as: :datepicker

    %h4.font-bold.text-m.mb-2 Status
    = form.input :state, collection: OpportunityState.select_options

    = form.input :applied_on, as: :datepicker

    = form.input :body, as: :rich_text_area


  %div
    = form.submit "Save", Common::ButtonComponent.new.submit_button_args
