%turbo-frame{:id => "#{dom_id @opportunity}" }
  = simple_form_for @opportunity, data: { controller: "form-select-toggler", turbo_frame: :_top } do |form|
    = render Common::Form::ErrorsComponent.new(form: form)

    .card
      = render(Primer::Beta::Heading.new(tag: :h4)) { "Basic Info" }
      = form.input :name
      = form.input :uri, label: "Posting URL"

      = form.input :state, label: "Status", collection: OpportunityState.select_options

    .card
      = render(Primer::Beta::Heading.new(tag: :h4)) { "Company Info" }

      #existing-company
        = form.association :company, label: (form.object.persisted? ? "Linked Company" : "Choose Existing Company"), collection: Current.user.companies.distinct.alphabetical, include_blank: true, input_html: { class: "form-control", data: { action: "input->form-checkbox-toggler#changed", form_select_toggler_target: :select, form_select_toggler_group: :company } }

      -# This hack of adding values of "," will compare a blank value, making this show when the value is blank, and hiding when the value is present
      #new-company-fields.form-control{ data: { form_select_toggler_target: :element, values: ",", form_select_toggler_group: :company } }
        = form.simple_fields_for :company, opportunity.company || Company.new do |company_form|
          = company_form.input :name, label: "Company Name"
          = company_form.input :uri, label: "Company Website"

    .card
      = render(Primer::Beta::Heading.new(tag: :h4)) { "Categorization" }

      = form.input :tag_list, as: :hidden, input_html: { value: form.object.tag_list.join(','), id: 'hidden-tag-list' }

      %div{"data-controller" => "tags-input"}
        = form.input :tags_input, name: nil, label: "Tags", input_html: {"data-action" => "keyup->tags-input#addTag", "data-target" => "tags-input.input", placeholder: "Add tags", type: "text"}
        %span.tags-list{"data-tags-input-target":  "tagsList"}

      = form.input :rating, as: :radio_buttons, collection: OpportunityRating.select_options, wrapper_html: { class: "grid grid-cols-7 gap-2" }

    .card{ data: { controller: "form-checkbox-toggler" } }
      = render(Primer::Beta::Heading.new(tag: :h4)) { "Metrics" }
      %p Use metrics for rating the opportunities, you can create custom metrics under Move > Metrics.

      = form.input :metrics_enabled, label: "Enable Metrics", hint: "Enable metrics for opportunities that you would like to compare to each other when making a decision", as: :boolean, input_html: { data: { form_checkbox_toggler_target: :checkbox, form_checkbox_toggler_group: :metrics_enabled, action: "click->form-checkbox-toggler#changed" } }

      %div{ data: { form_checkbox_toggler_target: :element, form_checkbox_toggler_group: :metrics_enabled, show_when: :checked } }
        = form.simple_fields_for :opportunity_metrics, @opportunity.build_opportunity_metrics do |opportunity_metrics_form|
          = opportunity_metrics_form.input :score, as: :radio_buttons, collection: (1..5), label: opportunity_metrics_form.object.metric.name, wrapper_html: { class: "grid grid-cols-6 gap-2" }


    = form.input :move_id, as: :hidden, input_html: { value: Current.user.default_move.id }

    .card
      = render Common::Form::SubmitComponent.new(form: form)

= render Common::Element::DestroyLinkComponent.new(model: @opportunity, text: "Destroy", args: { data: { turbo_frame: :_top } } )
