%div{:id => "#{dom_id opportunity}"}
  .title.mb-2
    %span.font-semibold
      = link_to_if opportunity.uri.present?, opportunity.name, opportunity.uri, target: :_blank
    %span.italic  
      = "@"
      = link_to_if opportunity.company.uri.present?, opportunity.company.name, opportunity.company.uri, target: :_blank
  = opportunity.state.text
  %br
  = opportunity.applied_on.to_fs
  %br
  Notes (#{opportunity.notes.count}) | 
  = link_to "New", [:new, opportunity, :note]
