%div{:id => "#{dom_id opportunity}"}
  %span{ class: opportunity.state.tailwind_class}
    = opportunity.state.text
  .title.mb-2
    %div.font-semibold
      = link_to_if opportunity.company.uri.present?, opportunity.company.name, opportunity.company.uri, target: :_blank
    %div.text-s.text-slate-700.text-xs
      = link_to_if opportunity.uri.present?, opportunity.name, opportunity.uri, target: :_blank

  %br
  .text-xs
    Added
    = opportunity.created_at.to_fs
    -# .font-semibold
    -#   Job Details:
    -# .text-xs.p-2.pb-4
    -#   = display_content(opportunity.body)

    %hr.m-2
    = link_to [opportunity, :notes] do
      #{opportunity.notes_count} Notes | 
    = link_to "+", [:new, opportunity, :note], class: "font-semibold"
