= render(Primer::Beta::Heading.new(tag: :h1)) { "Opportunities (#{@opportunities.count})" }

.text-xs.mb-4
  - OpportunityState.each_with_index do |opportunity_state, index|
    - if index > 0
      = " | "
    = link_to [:opportunities, state: opportunity_state.to_s], class: (params[:state] == opportunity_state.to_s ? "font-semibold" : "")  do
      = opportunity_state.text

= render Opportunity::ListComponent.new(opportunities: @opportunities)
