!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyNextMove
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", data: { turbo_track: :reload }
    = stylesheet_link_tag "application", data: { turbo_track: :reload }
    = stylesheet_link_tag "https://unpkg.com/stimulus-datepicker@1.0.5/css/datepicker.css", data: { turbo_track: :reload }
    = stylesheet_link_tag "primer_view_components"

    = javascript_importmap_tags
  %body.dark:bg-gray-800.dark:text-gray-200
    - if current_user.present?
      = render "layouts/header"
    .container.mx-6.mt-6  
      = render Common::Layout::BreadcrumbsComponent.new
      = render Common::Layout::FlashMessagesComponent.new
      = yield
