.w-full
  .flex.justify-between.items-center
    = render(Primer::Beta::Heading.new(tag: :h1)) { "Stats" }
  #daily_opportunity_stats.min-w-full
    %table.min-w-full.divide-y.divide-gray-200.dark:divide-gray-700
      %thead
        %tr.bg-slate-100
          %th.px-6.py-3.text-start.text-xs.font-medium.text-gray-500.uppercase{ scope: :col } Date
          - OpportunityState.each do |opportunity_state|
            %th.px-6.py-3.text-start.text-xs.font-medium.text-gray-500.uppercase{ scope: :col, class: opportunity_state.tailwind_classes }
              = link_to [:opportunities, state: opportunity_state.text] do
                = opportunity_state.text
          %th.px-6.py-3.text-start.text-xs.font-medium.text-gray-500.uppercase{ scope: :col } Total
      %tbody.divide-y.divide-gray-200.dark:divide-gray-700
        = render "table_row", daily_opportunity_stat: @current_daily_opportunity_stat
        - @daily_opportunity_stats.each do |daily_opportunity_stat|
          = render "table_row", daily_opportunity_stat: daily_opportunity_stat
      

