.mx-auto.w-full.flex{:class => "md:w-2/3"}
  .mx-auto
    - if notice.present?
      %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
    = render @daily_opportunity_stat
    = link_to "Edit this daily_opportunity_stat", edit_daily_opportunity_stat_path(@daily_opportunity_stat), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    .inline-block.ml-2
      = button_to "Destroy this daily_opportunity_stat", daily_opportunity_stat_path(@daily_opportunity_stat), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium"
    = link_to "Back to daily_opportunity_stats", daily_opportunity_stats_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
